body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.content .card {
  width: 60%;
}
