body {
	font: 11px verdana, arial, sans-serif;
	padding-top: 0px;
	background: url(../image/images/page_bg.jpg);
}

a:link {
	text-decoration:none;
	color:#0066CC;
}

a:visited {
	text-decoration:none;
	color:#0066CC;	
}

a:hover {
	text-decoration:none;
	color:#996600;
}
