@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/87Va_S9dMbGdG4LlxT5ySQLUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/57TQ-anwthzkETEIO4jESMDdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
